<configuration>
    <property name="LOG_TIMESTAMP" value="%d{yyyy-MM-dd HH:mm:ss}"/>
    <!-- logger를 보고 싶다면 CONSOLE_LOG_PATTERN에 %cyan(%logger)를 추가할 것 -->
    <property name="CONSOLE_LOG_PATTERN" value="%green([${LOG_TIMESTAMP}]) %magenta([%thread]) %highlight([%level]) - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate" level="OFF"/>

    <!-- 쿼리문을 보고 싶다면 아래 logger를 주석처리 하거나 application-test.yml에서 hibernate의 show_sql를 true로 설정할 것 -->
    <logger name="p6spy" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>